// Fichier components.scss

a {
	text-decoration: $link-decoration-none;
	color: $black;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
 }

h3 {
	font-size: 1em;
}

p {
	font-size: 1.1em;
}

.is-inactive{
	display:$hidden;
}

.header-logo {
    display: flex;
    padding: 0.6rem;
    align-items: center;
    justify-content: center;
	position: relative;
	.logo {
		font-family:$title-font;
		text-align: center;
	}
}

button {
	background: linear-gradient($secondary-color, $primary-color);
	box-shadow: .25rem .25rem 0.62em $button-shadow-color;
	border: none;
	padding: .75rem 1.5rem;
	border-radius: $radius-xlarge;
	color: $white;
	font-weight: $weight-medium;
	font-size: 1.1rem;
	width: fit-content;
	margin: 0.5em auto;
	cursor: pointer;
	&:hover {
		box-shadow: .25rem .25rem 0.62em $button-shadow-hover-color;
		filter: brightness(120%);
		-webkit-filter: brightness(120%);
	}
}

.title { 
	font-weight: $weight-bold;
	padding: 1rem 0 0 1rem;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex: 0 1 99%;
    flex-direction: column;
	margin: 1rem;
    cursor: pointer;
	.card {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		border-radius: $card-border-radius;
		box-shadow: 0.2em 0.2em 0.6em $shadow-color;
		margin-bottom: $card-spacer-x;
		overflow: hidden;
		position: relative;
		&-main {
			background-color: $card-bg;
			box-shadow: 0.2em 0.2em 0.6em $shadow-color-hover;
		}
		a {
            text-decoration: $link-decoration-none;
			position: relative;
			display: block;
			.thumbnail {  
				.card-img {
					width: 100%;
					height: 10rem;	                 
					object-fit: cover;
                    border-top-left-radius: $card-border-radius;
                    border-top-right-radius: $card-border-radius;
				}
			}
			
		}		
		.card-content {
			display: flex;
            justify-content: space-between;
            align-items: center;
            margin: $card-spacer-y $card-spacer-x $card-spacer-y $card-spacer-x;
			.card-title-maintitle {
				font-weight: $weight-bold;
			}
			.card-title-subtitle {
				font-weight: $weight-book;
			} 
			}
	}
	@include bp(desktop) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}	
.card-badge {	
	padding: 0.5rem;
	position: absolute;
	right: 1.5rem;
	top: 1rem;
	text-align: center;
	background-color: $card-bg-badge;
		color: $card-color-badge;
	.active {
		background-color: $card-bg-badge;
		color: $card-color-badge;
	}
}
.heart {
	font-size: 2em;
	cursor: pointer;
	&:hover {
		background: linear-gradient(to left,$primary-color, $secondary-color);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 0 transparent;
		font-weight: $weight-bold;
		animation: fill 1s ease-in-out;
	}
}

.footer-logo { 
	margin-bottom: -1rem;
	font-family: $title-font;
	font-size: 1.6em;
	line-height: 1.6;
}

.footer-list { 
	color: $white;
	.footer-list-li { 
		margin-bottom: 0.5rem;
		.link { 
			text-decoration: none;
			color: $white;
			.footer-icon { 
				margin-right: .5rem;
				line-height: 1.4;
				font-size: 1em;
				color: $white;
			}
		}
	}
}


